p {
    padding: 0px;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    min-height:40px; }

.table {
    padding: 0px;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    min-height:400px; }